.div-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.div-container-item{
    width: 70%;
    background-color: white;
}
.div-categories{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.tex-categories{
    width: 70%;
}